* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box {
    height: 500px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.952);
    /* background-color: rgba(0, 0, 0, 0.919); */
    border-radius: 18px;
    box-shadow: 5px 5px 40px grey;
    overflow: hidden;
}

form {
    width: 100%;
    height: 149px;
    border: 10px solid black;
    /* border: 10px solid rgba(0, 0, 0, 0.952); */
    border-radius: 18px;

}

form input {
    width: 100%;
    height: 130px;
    background-color: black;
    color: red;
    border: none;
    border-radius: 10px;
    padding: 16px;
    font-size: 3.5rem;
    font-weight: bolder;
    text-align: right;
    pointer-events: none;
}

button {
    margin: 8px 4px;
    width: 60px;
    height: 52px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.btn-start {
    margin-left: 12px;
}

.btn-warning {
    background-color: orange;
    color: white;
}

.btn-primary {
    background-color: #CCCCCC;
}

.btn-equal {
    background-color: green;
}

.btn-reset {
    background-color: red;
}

.btn-on {
    background-color: #0000FF;
    color: white;
}
.btn-off {
    background-color: black;
    color: white;
}