* {
    padding: 0;
    margin: 0;
}
.home_page{
    background-color: #002147 ;
    color: #ff5c25;
    height: 57rem;
    border: 0.563rem dashed #ff5c25 ;
}
.name{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4.063rem;
}
.img{
    height: 31.25rem; 
    width: 50rem
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ff5c25;
    --bs-btn-border-color: null;
    --bs-btn-hover-color: #002147;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: #ff5c25;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ff5c25;
    --bs-btn-active-border-color: #ff5c25;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ff5c25;
    --bs-btn-disabled-border-color: #ff5c25;
}

.btn{
    font-size: 1.6rem;
    width: 12.5;
    height: 3.438rem;
}
#line1, #line2, #sp_1, #sp_2, #sp_3{
    font-size: 1.875rem;
}
#line3{
    font-size: 2.188rem;
}
.white {
    color: white;
}
